body {
  font-family:  Roboto;
  font-size: 16px;
  line-height:  1.5;
  color:  #47353A;
}

header {
  color: #47353A;
  padding:  15px;
  overflow: hidden;
}

header h1 {
  float:  left;
}

header nav {
  float:  right;
  margin-top:  10px;
}

nav a {
  text-decoration: none;
  margin:  10px 20px 10px 0;
  text-transform:  uppercase;
  color: #47353A;
  font-weight:  700;
}

.hero {
  background-image: url(hero.jpg);
  background-size:  cover;
  padding-top:  230px;
  padding-bottom:  200px;
  background-position:  right center;
}

.hero div {
  max-width:  540px;
  margin-left:  auto;
  margin-right:  auto;
  padding-right:  20px;
  padding-left:  20px;
  text-align: center;
}

.hero h2 {
  font-family:  David Libre;
  line-height: 1.2;
  color:  #47353A;;
  font-size:  64px;
  margin-bottom:  20px;
  font-weight:  700;
}

.hero p {
  max-width:  400px;
  margin:  auto;
}

.flowers {
  display:  flex;
  align-items: center;
}

.flowers img {
  width: 33.333%;
}

.quotes {
  overflow:  hidden;
}

.quotes div {
  width:  50%;
  float:  left;
  text-align:  center;
  padding:  60px 20px 40px 20px;
}

.cream-background {
  background-color: #F7F1EE;
}

.quotes img {
  width:  75px;
  margin-bottom:  10px;
  border-radius:  100%;
}

.quotes blockquote {
  font-family:  David Libre;
  font-size:  24px;
  margin:  15px auto 5px auto;
  font-weight:  700;
  line-height:  1.15;
  max-width:  400px;
}

.chair {
  background-image:  url(full-bleed.jpg);
  background-position:  center bottom;
  height:  500px;
  background-size:  cover;
}

.logo {
  background-color: #eeae9f;
  padding:  20px 20px 35px 20px;
  text-align:  center;
}

.logo p {
  color:  #fff;
  font-weight:  700;
  margin-bottom:  10px;
}

.logo img {
  margin: 0 22px 0px 22px;
}

footer {
  background-color: #47353A;
  padding:  25px 30px;
  overflow:  hidden;
}

footer img {
  float:  left;
}

footer p {
  float: right;
  font-size:  14px;
  color:  #ccc9ca;
  font-weight:  700;
}

@media (max-width: 600px) {

  header nav {
    line-height: 30px;
  }

  body {
    font-size: 14px;
  }

  .hero h2 {
    font-size:  32px;
    margin-bottom:  5px;
  }

  .hero {
    padding-top:  80px;
    padding-bottom:  80px;
  }

  .chair {
    height: 320px;
  }

  .chair {
    height:  250px;
  }

  .quotes div {
    width:  auto;
    float:  none;
    padding:  30px 30px 40px 30px;
  }

  .quotes blockquote {
    font-size: 20px;
  }

  .quotes p {
    display: none;
  }
}

@media (max-width: 430px) {

  header h1,
  header nav {
    float:  none;
  }

  header nav {
    margin-top:  15px;
  }

  .flowers img {
    float:  none;
    width: auto;
  }

  footer p {
    font-size: 12px;
  }


  .logo img {
    display:  block;
    margin:  20px 10px 20px 20px;
  }
}

@media (max-widith: 820px) {
  .logo img {
    margin-left: 5px;
    margin-right:  5px;
  }
}

@media(max-width: 795px) {
  .logo img {
    display:  block;
    margin:  0 auto 35px auto;
  }
}

.logo img:last-child {
  margin-bottom:  0;
}

@media (min-width: 820px) {

  header {
    position:  fixed;
    top:  0;
    left:  0;
    width:  100%;
    background-color:  #fff;
    box-shadow: 0 1px 5px 0px rgba(51, 51, 51, 0.2);
  }

  .hero {
    margin-top:  50px;
  }

}
